<template>
  <div id="app">
    <NavBar :elements="testItems"/>
    <Header heading="I come from a selfwritten library" />
    <text-field label="Testfield"/>
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import TextField from 'please-let-me-vuetify';
import { Header, NavBar } from 'vue-header-and-navigation';
import HelloWorld from './components/HelloWorld.vue';

export default {
  name: 'App',
  components: {
    HelloWorld,
    Header,
    NavBar,
    TextField,
  },
  data() {
    return {
      testItems: [
        {
          title: 'Google',
          href: 'https://www.google.com',
        },
        {
          title: 'Facebook',
          href: 'https://www.facebook.com',
        },
        {
          title: 'Twitter',
          href: 'https://www.twitter.com',
        },
        {
          title: 'Instagram',
          href: 'https://www.instagram.com',
        },
      ],
    };
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

}
</style>
